@media (max-width: 768px) {
  .sidebar { width: 185px; }
  .content { margin-left: 185px; }
  .jumbotron { margin-left: 185px; }
  .home .content { top: 163px; }
  .breadcrumb { display: none; }
  #btn-download { display: none; }
  #btn-menu { display: none; }
  #banner { width: 280px; }
}

@media (min-width: 769px) {
  .sidebar { width: 300px; }
  .content { margin-left: 300px; }
  .navbar ul { float: right; }
  .jumbotron { margin-left: 300px; }
  .home .content { top: 222px; }
}

code, pre {
  color: #fff;
  background-color: #40406a;
  border-color: #30305a;
}

.sidebar {
  position: fixed;
  height: 100%;
  background-color: #303030;
  border-right: 1px solid #202020;
}

.navbar ul .btn-default {
  margin-right: 4px;
  background-color: #234568;
  border-color: #234568;
}
.navbar ul .btn-default:hover {
  background-color: #103050;
  border-color: #103050;
}

#title-downloads {
  padding-top: 4px;
  padding-left: 8px;
  color: #404040;
}

.sidebar-content {
  margin-top: 20px;
  padding: 20px;
  padding-top: 0;
}

.content {
  max-width: 1024px;
  padding: 10px 40px;
}
.content .page-header {
  margin: 20px;
  margin-bottom: 0;
  border-color: #303030;
}

.section-block {
  border-top: solid 1px #fff;
  margin-top: 40px;
}

.section-block h3 {
  color: #bcf;
}

.home .jumbotron {
  max-width: 1024px;
  margin-bottom: 0px;
  padding: 36px 60px;
  background-color: #2c463e;
}

.home .content {
  position: absolute; bottom: 0;
  background-color: rgba(255,255,255,0.1);
}
