<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Astron Documentation Template</title>

  <!--<link href="https://netdna.bootstrapcdn.com/bootswatch/3.2.0/darkly/bootstrap.min.css" rel="stylesheet">-->
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <link href="/css/template.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <!-- Top navigation bar (fixed position) -->
  <div class="navbar">
    <img src="/images/astron-black-461px.png" height="100px"/>
    <div class="navbar_bottom"></div>
  </div>

  <!-- Push all the content down by 100px so the top bar (fixed) doesn't
    overlap the beginning of our content -->
  <div class="navbar_padding" style="height:110px; min-height:110px;"></div>

  <br><hr><br>

  <div class="main">

    <div class="block content">
      <h1>Welcome</h1>
      <span width="100%" style="text-align:right;">
      <h2>Paragraph 2</h2>
    </div>

    <div class="block sidebar">

    </div>

  </div>

  <div class="footer_padding"></div>
  <div class="footer">
    &copy; Copyright 2013-2014 Astron
  </div>

</body>

</html>